table , th ,td {border: 1px solid;}
table{width: 100%;  border-collapse: collapse; }
th{height: 35px; text-align: center;}
td{height: 15px; text-align: center; }
th ,td{padding: 15px;}
tr:hover{background-color: rgb(141, 170, 82);}
tr:nth-child(even){background-color: rgb(202, 255, 202);}
th{background-color: rgb(13, 89, 13); color: white;}
th,td{padding: 10px; margin:10px;}


















